<h2>please chek the values and add the book to your dashboard</h2>

<form action="/index/add-books" method="post">
    <label for="">ISBN</label>
    <input id="isbn_id" type="text" name="isbn">
    <label for="">Title</label>
    <input id="title_id" type="text" name="title">
    <img id="img_id" src="" alt="" name="image">
    <label for="">State</label>
    <input id="state_id" type="text" name="state">
    <button>Add to my library</button>
</form>