<nav id="nav-main" class="nav">
    <div id="logo-container">
        <a href="/" class="logo"><img class="logo" src="/images/bookswapLogo.PNG" alt="logo"></a>
    </div>
    <div>
        <form action="/books/all" method="post" class="form">
            <input type="text" class="input" id="search_box_navBar" name="query"
                placeholder="Search by title or author..." onfocus=this.placeholder="">
            <button type="submit" class="btn" id="btn_search_home"><i class="fas fa-search"></i></button>
    </div>
    </form>
    </div>
    {{#if isLoggedIn}}
    <div class="dropdown">
        <button class="dropbtn"><img class="avatar-navbar" src="{{user.avatar}}" alt="profileimage"></button>
        <div class="dropdown-content">
            <a href="/auth/myprofile">My Profile</a>
            <a href="/auth/addBooks">Add a book</a>
            <a href="/auth/dashboard">My dashboard</a>
            <a href="/auth/logout">Log out</a>
  </div>
    </div>
    {{/if}}
    {{#unless isLoggedIn}}
    <a href="/auth/signin" id="nav_login" class="button-ternary flexed-item nav-end-item">
        <span class="btn-text">Sign in</span>
    </a>
    {{/unless}}
    {{!-- {{#if isLoggedIn}}
    <a href="/auth/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
        <span class="btn-text">Log out</span>
    </a>
    {{/if}} --}}
</nav>
