
 <nav id="nav-main" class="nav">
    <div id="logo-container">
        <a href="/" class="logo">Logo</a>
    </div>
    <div>
        <form action="/books/all" method="post" class="form">
            <div class="row">
            <input type="text" class="input" id="search_box_navBar"
            placeholder="Search for your new book..." onfocus=this.placeholder="" onblur=this.placeholder="Search for your new book...">
            <button type="submit" class="btn" id="btn_search_home">Search</button>
            </div>
        </form>
    </div>
    <div id="sign-container">
        <a href="#" class="link">Sign in</a>
        <a href="#" class="link">Sign out</a>
    </div>
    {{!-- {{#unless isLoggedIn}}
    <a href="/auth/signin" class="link">| <i class="fa fa-user fa-1x"></i></a>
    {{/unless}}
    {{#if isLoggedIn}}
    <a href="/dashboard">| <i class="fa fa-user fa-1x"></i></a>
    {{/if}} --}}
</nav>

