<h2>please chek the values and add the book to your dashboard</h2>

<form action="/addBooks" method="post">
    <div>
        <img id="img_id" src="" alt="">
        <input id="image_value_id" type="hidden" name="image">
    </div>
    <div>
        <label for="">ISBN</label>
        <input id="isbn_id" type="text" name="isbn">
    </div>
    <div>
        <label for="">Title</label>
        <input id="title_id" type="text" name="title">
    </div>
    <div id="authors_section">
        <label for="">Authors</label>
        <input id="author_id" type="text" name="author">
    </div>
    <div>
        <label for="">Publishers</label>
        <input id="publisher_id" type="text" name="publisher">
    </div>
    <div>

        <label for="">Price</label>
        <input id="price_id" type="text" name="price">
    </div>
    <div>
        <label for="">Description</label>
        <input id="description_id" type="text" name="description">
    </div>
    <div>
        <label for="">Category</label>
        <input id="category_id" type="text" name="category">
    </div>
    <div><label for="">Published date</label>
        <input id="published_date_id" type="text" name="publishedDate"></div>
    <div><label for="">Pages:</label>
        <input id="page_count_id" type="text" name="pageCount"></div>
    <div><label for="">State</label>
        <input id="state_id" type="text" name="state"></div>
    <div><label for="">Points to Earn </label>
        <input id="points_id" type="text" name="points"></div>













    <button>Add to my library</button>
</form>