<form class="form" id="search_bar">
    <div class="row">
        <input id="search_box" type="text" class="input" value="9782072730849"
            placeholder="enter Isbn only number should be 10 or 13 char...">
        <button class="btn">Add a book</button>
    </div>
</form>
<hr>