<form class="form" id="search_book">
    <div class="row">
        <div class="nav-isbn">
            <div class="section1-isbn">
                <h2 id="title-search-add-book">Search for a book in the Google API </h2>
                <input id="search_box" type="text" class="input" placeholder="Enter ISBN..." value="9781595823939">
                <button class="btn" id="btn_search"><i class="fas fa-search"></i></button>
            </div>
            <div class="section2-isbn">
                <p id="txt-isbn"> Use our search engine
                    to find
                    book
                    information , the typical location for Isbn is on the back of a book </p>
                <div class="img-container-isbn">
                    <img src="/images/isbn.PNG" alt="isbn image">
                </div>
            </div>
        </div>
        <div id="messageFromApi"></div>
    </div>
</form>