{{>navBar}}
<div class="big-container-all-books">
    <h1>Catalog</h1>
    {{#unless books}}
    <p>No books found.</p>
    {{/unless}}

    <ul class="container-all-books">
        {{#unless isLoggedIn}}
        {{#each books}}
         <div class="all-books-list">
           {{>bookitem}}
        </div>
        {{/each}}
        {{/unless}}

        {{#if isLoggedIn}}
        {{#each books}}
        <div class="all-books-list">
            {{>bookitemloggedin}}
        </div>
        {{/each}}
        {{/if}}
    </ul>

</div>

