{{>navBar}}
<div class="container-all-books">
    <h1>All books</h1>
    {{#unless books}}
    <p>No books found.</p>
    {{/unless}}

    <ul class="container-all-books">
        {{#unless isLoggedIn}}
        {{#each books}}
         <div class="dashboard-list-books">
           {{>bookitem}}
        </div>
        {{/each}}
        {{/unless}}

        {{#if isLoggedIn}}
        {{#each books}}
        <div class="dashboard-list-books">
            {{>bookitemloggedin}}
        </div>
        {{/each}}
        {{/if}}
    </ul>

</div>

