{{>navBar}}
<div id="container-all-books">
    <h1>All books</h1>
    {{#unless books}}
    <p>No books found.</p>
    {{/unless}}

    <ul class="list-books">
        {{#unless isLoggedIn}}
        {{#each books}}
        <li class="allbooks-list-book">
           {{>bookitem}}
        </li>
        {{/each}}
        {{/unless}}

        {{#if isLoggedIn}}
        {{#each books}}
        <li class="allbooks-list-book">
            {{>bookitemloggedin}}
        </li>
        {{/each}}
        {{/if}}
    </ul>

</div>

