{{>navBar}}
<div id="pic-container">
    <img id="book-homepage" src="/images/coverHomepageTest.jpg" alt="book">
</div>
<h1 id="h1-index">Top 5 books</h1>
<div id="slideshow">
    <a id="arrow-right-id" href="" class="button-left"><i class="fas fa-caret-left"></i></a>

    <div class="w3-content w3-display-container">
        {{#each books}}
        <div class="book">
            {{>bookitem}}
        </div>

        {{/each}}
    </div>
    <a id="arrow-left-id" href="" class="button-right"><i class="fas fa-caret-right"></i></a>

</div>