{{>navBar}}
<div id="pic-container">
    <img id="book-homepage" src="/images/coverHomepage.jpg" alt="book">
</div>
<h1>Favorite Books</h1>
<div id="favorite-container">
    <ul id="favorite-list">
        <li>Book1</li>
        <li>Book2</li>
        <li>Book3</li>
    </ul>
</div>