{{>navBar}}

<div id="info-h1-container">
  <h1 id="info-h1"> How to use Book Swap :</h1>
</div>
<div id="info">
  <div id="info-section">

    <ul>
      <li>Add all the books you want to exchange simply by entering ISBN number, or by clicking on "I own it" button.
      </li>
      <li> When another user of Book Smart orders one of your books, you need to send this book to him.</li>
      <li> After confirming that the book has been received by the user, you will earn points corresponding to the value
        of the book. </li>
      <li>With points earned, order the books you want from other users of Book Smart.You get to keep the ordered books.
      </li>
    </ul>
  </div>

  <div id="info-example">
    <ul>
      <h3>Example: </h3>
      <li>
        <p>Maher</p> owns several books, which he wants to exchange. One of them is The Little Prince by Antoine de
        Saint-Exupéry
      </li>
      <li>
        <p>Dora</p> already used Book Smart before and have earned already 6 points.
      </li>
      <li>
        <p>Dora</p> is interested to read The Little Prince, and after searching on Book Smart she finds one listed by
        Maher.
      </li>
      <li>
        <p>Dora</p> orders Maher's book whith spending 1 point.
      </li>
      <li>
        <p>Maher</p> receives notification about another Book Smart user being intersted in one of his books. He accepts
        the
        exchange.
      </li>
      <li>
        <p>Maher</p> receives the address of Emilie,and sends the book.
      </li>
      <li>
        <p>Dora</p> receives the book and confirms reception.
      </li>
      <li>
        <p>Maher</p> earns the amount of point for exchanging his book.
      </li>
    </ul>
  </div>


</div>