{{>navBar}}

<div>
  <h1 id="info-h1"> How to use BookSwap :</h1>
</div>
<div id="info">
  <div id="info-section">

    <ul>
      <li>Add all the books you want to exchange simply by entering ISBN number, or by clicking on "I own it" button.
      </li>
      <li> When another user of BookMe orders one of your books, you need to send this book to him.</li>
      <li> After confirming that the book has been received by the user, you will earn points corresponding to the value
        of the book. </li>
      <li>With points earned, order the books you want from other users of BookMe.You get to keep the ordered books.
      </li>
    </ul>
  </div>

  <div id="info-example">
    <ul>
      <h3>Example: </h3>
      <li>Maher owns several books, which he wants to exchange. One of them is The Little Prince by Antoine de
        Saint-Exupéry</li>
      <li>Dora already used BookMe before and have earned already 6 points.</li>
      <li>Dora is interested to read The Little Prince, and after searching on BookMe she finds one listed by Maher.
      </li>
      <li>Dora orders Maher's book whith spending 1 point.</li>
      <li>Maher receives notification about another BookMe user being intersted in one of his books. He accepts the
        exchange.</li>
      <li>Maher receives the address of Emilie,and sends the book.</li>
      <li>Dora receives the book and confirms reception.</li>
      <li>Maher earns 1 point for exchanging his book.</li>
    </ul>
  </div>


</div>