/* .avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */

.dashboard-books-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dashboard-books-container h3 {
  margin-top: 5vh;
  color: #357376;
  font-size: 3vh;
  text-align: center;
}

.dashboard-container-all-books {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5vh;
}

.dashboard-list-books {
  padding: 2vh;
}


.dashboard-list-books li {
  display: block;
  text-align: left;
}

.dashboard-list-books p {
  font-weight: bold;
  text-align: left;
  margin-top: 0px;
  float: left;
  clear: both;
}
