#pic-container {
  display: flex;
  justify-content: center;
  padding: 0.02vh;
}

#book-homepage {
  max-width: 100%;
  height: 60vh;
}

h1 {
  text-align: center;
}

#slideshow {
  display: flex;
  flex-wrap: wrap;
}
.w3-content {
  width: 96%;
  display: flex;
  flex-wrap: wrap;
}

#arrow-right-id {
  display: flex;
  width: 2%;
  align-items: center;
}
#arrow-left-id {
  display: flex;
  width: 2%;
  align-items: center;
}
#arrow-right-id i {
  font-size: 30px;
  text-align: center;
}
#arrow-left-id i {
  font-size: 30px;
  text-align: center;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
  border-width: 0px 5px;
  box-shadow: 10px 5px 5px #e5dfdf;
  margin: 5px;
  border-radius: 12px;
}
.book-title-class {
  font-weight: bold;
  color: grey;
  font-size: 16px;
}
.book-author-class {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.book-points-class {
  color: #1d4d4f;
  font-weight: bold;
}
.book-image {
  margin-bottom: 10px;
}
.book-content {
  margin-bottom: 10px;
}
