#info {
  display: flex;
}
#info-section {
  margin-top: 10vh;
  width: 42vw;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px #e5dfdf;
  margin-left: 5vw;
  margin-right: 5vw;
}
#info-example {
  margin-top: 10vh;
  width: 42vw;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px #e5dfdf;
}
#info-h1 {
  margin-top: 10vh;
  width: 90vw;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px #e5dfdf;
  margin-left: 5vw;
}
