#container-all-books {
  margin: 5vh;
}

.list-books {
  margin: 2vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-column-gap: 8vh;
  grid-row-gap: 8vh;
}

.list-books .books {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 10px 5px 5px #ededed;
}

.list-books li img {
  align-self: center;
  max-width: 100%;
  height: 20vh;
}

.allbooks-book-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allbooks-book-items > li {
  font-size: 1.5vh;
  margin: 0.5vh 0;
}
