@import "./dashboard.css";
@import "./navBar-main.css";
@import "./list-allBooks.css";
@import "./addBook.css";
@import "./homePage.css";
@import "./signup-login.css";
@import "./form.css";
@import "./myProfile.css";
@import "./bookitem.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font: 14px "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}
.fas {
  font-size: 20px;
}
