.dashboard-user-section {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.myprofile {
    width: 40%;
    height: 60%;    
    margin: 10%;
  
}

#myprofile-avatar {
    border: solid 1px black;
    border-radius: 8px;
}


#myprofile-avatar form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#myprofile-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}